
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    margin-bottom: 20px;
}

#countryInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

#searchBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchBtn:hover {
    background-color: #45a049;
}

#list {
    list-style-type: none;
}

#list li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    #countryInput {
        font-size: 14px;
        padding: 8px;
    }

    #searchBtn {
        font-size: 14px;
        padding: 8px 16px;
    }

    #list li {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    h1 {
        font-size: 18px;
    }

    #countryInput {
        font-size: 14px;
        padding: 8px;
    }

    #searchBtn {
        font-size: 14px;
        padding: 8px 16px;
    }

    #list li {
        font-size: 12px;
    }
}
